{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- hero image -->
<section id="hero-image-outer">
    <div id="hero-image">
        <img src="media/jonathan-borba-pIO8zFpgL_s-unsplash.jpg" alt="image of a cafe">
    </div>
    <div id="cover-text">
        <h1>Characafe</h1>
        <p>Eat delicious food inspired by our range of cute characters and meet our mascots!</p>
    </div>

</section>
<section id="character-section">
    <h2>Characters</h2>
    {% if characters %}
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for character in characters %}
            {% if character.image %}
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}" {% if forloop.first %}aria-current="true" {% endif %}
                aria-label="Slide {{ forloop.counter }}"></button>
            {% endif %}
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for character in characters %}
            {% if character.image %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
                <img src="{{ character.image.url }}" class="d-block w-50 mx-auto" alt="{{ character.name }}">
                <div class="carousel-caption d-md-block">
                    <h5><a href="{% url 'characters' %}">{{ character.name }}</a></h5>
                    <div class="carouselcaption mx-auto">{{ character.description }}</div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}
</section>
<section id="menu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="menu-caption mx-auto">
                <h2><i class="fa-solid fa-utensils"></i> Menu <i class="fa-solid fa-utensils"></i></h2>
                <p class="text-center"> Our Menu changes from season to season, so be sure to come to enjoy it!</p>
            </div>
            {% for menuitem in menu_list %}

            <div class="col-lg-4 col-md-4 mb-4 col-sm-12">
                <img class="rounded-img" src="{{ menuitem.image.url }}" loading="lazy" alt="{{ menuitem.name }}">
                <h5 class="menu-title"> {{ menuitem.name }}</h5>
                <small class="menu-text"> {{ menuitem.description }} </small>

            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="location">
    <div>
        <h2>Location</h2>
        <img src="{% static 'images/perri-bye.png' %}" alt="logo for characafe" class="location-img">
        <p>Situated in the heart of Dublin, please come and check out our charming cafe!</p>
        <p><i class="fa-solid fa-location-dot"></i> 21 Hawkins Street, Dublin 2, D02 W3D5</p>
        <div class="opening w-50 mx-auto">
            <h5 class="text-center">Opening Hours</h5>
            <ul class="mx-auto">

                <li class="text-center">Monday - Friday: 10 - 6</li>
                <li class="text-center">Saturday: 10 - 4</li>
                <li class="text-center">Sunday: 10 - 2</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}