{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="hero-image-outer">
    <div id="hero-image">
        <img src="{% static 'images/strawberries.webp' %}" alt="pattern of strawberries">
    </div>
    <div id="cover-text">
        <h1>Menu</h1>
        <p>Check out our menu!</p>
    </div>
</section>
<div class="container menu-main">
    <div class="row justify-content-center">
            {% for menuitem in menu_list %}

            <div class="col-lg-4 col-md-4 mb-4 col-sm-12 d-flex flex-column align-items-center justify-content-center">
                <img class="square-img" src="{{ menuitem.image.url }}" loading="lazy" alt="{{ menuitem.name }}" >
                <div class="menu-title text-center"> {{ menuitem.name }}</div>
                <small class="menu-text text-center"> {{ menuitem.description }} </small>

            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}