{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="hero-image-outer">
    <div id="hero-image">
        <img src="{% static 'images/umm-e-hani-ali-DsKOP7ScAxk-unsplash.png' %}">
    </div>
    <div id="cover-text">
        <h1>Menu</h1>
        <p>Meet our adorable cast of Characters!</p>
    </div>
</section>
<div class="container">
    <div class="row">
            {% for menuitem in menu_list %}

            <div class="col-lg-4 col-md-4 mb-4 col-sm-12">
                <img class="square-img" src="{{ menuitem.image.url }}" loading="lazy" alt="{{ menuitem.name }}">
                <h5 class="menu-title"> {{ menuitem.name }}</h5>
                <small class="menu-text"> {{ menuitem.description }} </small>

            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}