/* base styles */

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Comic+Relief&family=Nanum+Pen+Script&display=swap');

:root {
    --menu-font: "Nanum Pen Script", serif;
    --nav-font: "Cherry Bomb One", serif;
    --body-font: "Comic Relief", system-ui;

}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav-title {
    font-family: var(--nav-font);
    font-size: 3rem;
    color: #8EC4DB;
}

.navbar {

    background: #F8FBF7;
    background: linear-gradient(90deg, rgba(248, 251, 247, 1) 0%, rgba(243, 191, 147, 1) 50%, rgba(242, 222, 228, 1) 100%);
}

.footer {
    background: linear-gradient(90deg, rgba(248, 251, 247, 1) 0%, rgba(243, 191, 147, 1) 50%, rgba(242, 222, 228, 1) 100%);
    background-position: 0% 0%;
    width: 100%;
    background-attachment: scroll;
    margin-top: auto;
    margin: auto;
    text-align: center;
    color: #78695F;
}

.footer-p {
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-item {
    font-family: var(--nav-font);
    color: #78695F;
}

.dropdown-menu {
    background-color:#F5D3C2; 
}

.message-container {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 1055;
    max-width: 300px;
}

.toast-header {
    font-family: var(--nav-font);
}

/* styles for home page */

.container.mt-4 {
    padding: 0px;
}

#hero-image-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
    overflow: hidden;
}

#cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(252, 252, 192, 0.9);
    border-radius: 15px;
    color: #F3BF93;
    width: 300px;
    height: 200px;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 3.5rem;
}

h1,
h2 {
    font-family: var(--nav-font);
    text-align: center;
    color: #F3BF93;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--nav-font);
}

p {
    font-family: var(--body-font);
}

#character-section {
    background: #F2DEE4;

    padding: 10px;
    margin: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #FCFBA8;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
    border-radius: 15px;

}

.carousel-caption {
    width: 50%;
    padding: 2rem;
    text-align: left;
    color: #78695F;
    background: rgba(252, 252, 192, 0.9);
    border-radius: 15px;
    margin-left: 2rem;

}

.carousel-caption h5 {
    font-family: var(--nav-font);
    font-size: 2rem;
    color: #F3BF93;
    margin-bottom: 1rem;
}

.carousel-caption .carouselcaption {
    font-family: var(--body-font);
    font-size: 1.1rem;
    line-height: 1.6;
    color: #78695F;
}

.carousel-caption a {
    text-decoration: none;
    color: inherit;
}

.carousel-caption a:hover {
    color: #8EC4DB;
}

#menu {
    background-color: #78695F;
    padding: 5px;

}

.menu-caption {
    background: rgba(252, 252, 192, 0.9);
    border-radius: 15px;
    width: 75%;
    color: #78695F;
    padding: 10px;

}


#location {
    background-color: #8EC4DB;
    color: #F8FBF7;
}

#location img {
    float: left;
    max-height:200px;
}
#location h2 {
    color:#FCFCC0; 
}
#location ul {
    text-decoration: none;
    border: 2px solid #78695F;
}

#location li {
    list-style-type: none;
}

@keyframes menuitemchange {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rounded-img {
    border-radius: 50%;
    border: 5px dotted #F2DEE4;
    padding: 5px;
    box-shadow: #F2DEE4 0px 0px 0px 2px, rgba(245, 211, 194, 0.3) 0px 0px 0px 7px inset;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.rounded-img:hover {
    animation-name: menuitemchange;
    animation-duration: 2s;
}

.menu-title {
    font-family: var(--menu-font);
    text-align: center;
    font-size: 2rem;
    color: #FCFCC0;
}

.menu-text {
    text-align: center;
    color: #F8FBF7;
    font-family: var(--body-font);
    width: 75%;
}

.toast-body {

    font-family: var(--body-font);
    color: #78695F;
}

.toast-msg {
    border-bottom: 2px dotted #F3BF93;
    padding: 2px;
}

.toast-border {
    border-top: 2px dotted #F3BF93;

}

.toast-info {
    background-color: #FCFCC0;
    color: #78695F;
    border-radius: 10px;
    font-family: var(--menu-font);
}

.toast-total {
    color: #F3BF93;
    font-family: var(--body-font);
}

/* css for characters page */

.character-card-container {
    background-color: #F5D3C2;
    border-radius: 5px;
    box-shadow: 10px 10px #8EC4DB;
    color: #78695F;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    margin: 10px;
    height:620px;
}

h3 {
    font-family: var(--nav-font);
    color: #FCFCC0;
}

.character-rounded-img {

    border-radius: 50%;
    border: 5px dotted #FCFCC0;
    padding: 5px;
    box-shadow: #FCFBA8 0px 0px 0px 2px, rgba(245, 211, 194, 0.3) 0px 0px 0px 7px inset;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.character-rounded-img:hover {
    animation-name: menuitemchange;
    animation-duration: 2s;
}

.chara-btn {
    border-radius: 5px;
    color: #78695F;
    font-family: var(--menu-font);
    background-color: #FCFBA8;
    box-shadow: none;
    border: 2px #78695F;
    font-size: 1.2rem;


}

.chara-btn a {
    color: #78695F;
    text-decoration: none;

}

.chara-btn:hover {
    background-color: #F3BF93;
}

.chara-btn a:hover {
    color: #FCFCC0;
}

.interests {
    background-color: #F2DEE4;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    font-family: var(--menu-font);
    border-radius: 5px;
    border-top: #8EC4DB 5px dotted;

}

.interests h5 {
    font-size: 1.2rem;
    padding: 2px;
}

.interests ul {
    list-style-type: none;
    margin: 2px;
    font-family: var(--menu-font);
    text-align: center;
}

.interests ul li {
    border: 2px solid #8EC4DB;
    padding: 5px;
    border-radius: 40px;
    background-color: #FCFCC0;
    text-align: center;
    font-family: var(--menu-font);
    box-shadow: rgba(245, 211, 194, 0.3) 0px 0px 0px 7px inset;
    width: 200px;
    justify-content: center;
}

/* menu  page css */

.menu-main {
    background-color: #78695F;
    padding: 5px;
}

.square-img {
    border-radius: 10%;
    border: 5px dotted #F2DEE4;
    padding: 5px;
    box-shadow: 10px 10px #F5D3C2;
    width: 200px;
    height: 200px;
    object-fit: cover;
    justify-content: center;
    display: flex;
    margin-bottom: 2px;
}



/* css for products page */

.product-card {
    border: none;
    font-family: var(--body-font);
    color: #F3BF93;
    margin: 5px;
}

.product-card h5 {
    color: #78695F;
    font-family: var(--menu-font);
    font-size: 1.5rem;
}

.wishlist-icon {
    color: #F3BF93;
    background-color: #F8FBF7;
    padding: 5px;
    border-radius: 50px;
    border-color: #F5D3C2 3px solid;
    position: relative;
    right: calc(-100% + 50px);
    top: -50px;
}


.wishlist-icon:hover {
    color: #8EC4DB;
}

.product-card-body {
    font-family: var(--body-font);
    color: #F3BF93;
}

.product-card-body a {
    text-decoration: none;
    color: #78695F;
}

.product-card-body a:hover {
    color: #8EC4DB;
}

.hidden {
    display: none;
}

.card-text {
    justify-content: center;
}

.shop-now {
    background-color: #8EC4DB;
    color: #F8FBF7;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
}

.sort-container select,
option {
    background-color: #8EC4DB;
    color: #F8FBF7;
    font-family: var(--body-font);
}

#sort-selector {
    background-color: #8EC4DB;
    color: #F8FBF7;
    font-family: var(--body-font);

}

/* css for product_detail */

.product-detail-section {
    color: #78695F;
    padding: 5px;
}

.btn-secondary {
    background-color: #78695F;
    color: #F8FBF7;
    font-family: var(--nav-font);
}

.btn-secondary:hover {
    background-color: #F5D3C2;
    color: #78695F;
    border: #78695F;
}

.shop-return {
    color: #8EC4DB;
    background-color: #78695F;
    text-decoration: none;
    font-family: var(--menu-font);
    font-size: 1.2em;

}

.shop-return:hover {
    background-color: #8EC4DB;
    color: #78695F;
}

.product-detail-section h3 {
    color: #F3BF93;
}

.shop-now-bg {
    background-color: #F5D3C2;
    font-size: 1.3rem;
    color: #F8FBF7;
    border-radius: 5px;
    border: none;
    font-family: var(--menu-font);

}

.cta-shop {
    border-bottom: 2px dotted #8EC4DB;
    padding-bottom: 2px;
}

.details-class {
    border-top: 2px dotted #8EC4DB;
}

/* bag page */
#hero-image-outer-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    overflow: hidden;
}

.bag-table th {
    font-family: var(--nav-font);
    color: #78695F;
}

.checkout {
    background-color: #F5D3C2;
    font-family: var(--nav-font);
    color: #F8FBF7;
}

.up-btn {
    background-color: #FCFBA8;
    color: #F8FBF7;
}

.total-section h4 {
    color: #F3BF93;
    font-family: var(--body-font);
}

.remove-item,
.update-link,
.update-link a,
.remove-item a {
    cursor: pointer;
    font-family: var(--body-font);
    text-decoration: none;
}

.remove-item,
.remove-item a {
    color: #F3BF93;
}

.update-link,
.update-link a {
    color: #8EC4DB;
}

/* checkout page */
#card-errors {
    color: var(--bs-danger-text-emphasis);
    border-left: var(--bs-danger-text-emphasis);
}

.order-summary {
    padding: 2px;
    font-size: 0.9em;
}

.order-summary th {
    background-color: #F5D3C2;
}

.order-summary td {
    background-color: #F2DEE4;
    font-family: var(--body-font);
    font-size: small;
}

.order-summary .total-section {
    font-family: var(--menu-font);
    font-size: large;
    color: #78695F;
}

.checkout-info legend {
    font-family: var(--menu-font);
    font-size: 2em;
    color: #78695F;
}

.submit-button .change-order {
    color: #F8FBF7;
    background-color: #78695F;
    border: 2px solid #F8FBF7;
    font-family: var(--menu-font);
}

.submit-button .checkout {
    background-color: #F8FBF7;
    color: #78695F;
    border: 2px solid #78695F;
}

.submit-button .checkout:hover {
    color: #F8FBF7;
    background-color: #78695F;
    border: 2px solid #F8FBF7;
}

.checkout-info {
    background-color: rgba(242, 222, 228, 0.2);
}

.checkout-info fieldset {
    font-family: var(--body-font);
}

.form-control::placeholder {
    color: #8EC4DB;
}

.btn-change {
    border-radius: 5px;
    background-color: #F2DEE4;
    font-family: var(--menu-font);
    color: #78695F;
    padding: 5px;
}

.btn-change a {
    text-decoration-line: none;
}

.submit-button .checkout {
    margin: 5px;
}

.save-address {
    color: #48778b;
    font-family: var(--menu-font);
}

.payment-note {
    color: #48778b;
    background-color: rgba(142, 196, 219, 0.2);
    border-left: #8EC4DB 5px solid;
    margin: 5px;
    padding-left: 2px;
    padding: 5px;
    width: 100%;
}


#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* css for checkout success */

.checkout-title {
    color: #F3BF93;
    font-family: var(--menu-font);
}

.checkout-success-info {
    color: #78695F;
    background-color: rgba(242, 222, 228, 0.4);
    text-align: center;
}

.checkout-success p {
    text-align: center;
}

.checkout-success h4 {
    color: #8EC4DB;
    text-align: center;
}

/* css for register page */

.loginregister {
    background-color: rgba(242, 222, 228, 0.5);
    color: #78695F;
    border-radius: 15px;
    margin-bottom: 5px;
    text-align: center;

}

.login-register li {
    list-style-type: "\1F33C";
}

.loginregister a {
    color: #8EC4DB;
    text-decoration: none;
}

.loginregister input {
    border: none;
    border-radius: 5px;
}

/* css for logout page **/
#logout {
    background: #F8FBF7;
    background: linear-gradient(90deg, rgba(248, 251, 247, 1) 0%, rgba(242, 222, 228, 1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: center;
}



#logout-button {
    color: #F8FBF7;
    background-color: #78695F;
    border-radius: 10px;
    border: 2px solid #78695F;
}

#logout img {
    height: 300px;
}

/* profile css */

.update-btn {
    background-color: #F5D3C2;
    border: #78695F 2px solid;
    color: #78695F;
    font-family: var(--nav-font);
}

@media only screen and (max-width: 400px) {
    #logout img {
        height: 1cap;
    }
}


@media only screen and (max-width:500px) {
    .carousel-caption {
        height: 50%;
        width: 75%;
        left: 0%;
        font-size: 0.7rem;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
    }
    #hero-image-outer {
        max-height:300px;
    }
}