<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto"><i class="fa-regular fa-star"></i> Success! <i class="fa-regular fa-star"></i></strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <div class="toast-msg">
      {{ message }}
    </div>
    {% if bag_items %}
    <h5>Your Bag ({{ product_count }})</h5>
    {% if free_delivery_delta > 0 %}
    <p class="toast-info">
      Spend <strong>€{{ free_delivery_delta }}</strong> more to get free delivery!
    </p>
    {% endif %}
    {% for item in bag_items %}
    <div class="row toast-border">
      <div class="col-4">
        <img class="w-100" src="{{ item.product.image.url }}">
      </div>
      <div class="col-7">
        <p class=""><strong>{{ item.product.name }}</strong></p>
        <p class="small text-muted">Quantity: {{ item.quantity }}</p>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col">
          <strong>
            <p class="toast-total">
              Total{% if free_delivery_delta > 0 %} (Excl delivery){% endif %}:
              <span class="float-right">€{{ total|floatformat:2 }}</span>
            </p>
          </strong>
          <a href="{% url 'shopping_bag' %}" class="btn shop-now">
            <span class="text-uppercase">To Secure Checkout</span>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>